[project]
name = "agent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "flask>=3.0.0",
    "flask-session>=0.6.0",
    "pymysql>=1.1.0",
    "python-dotenv>=1.0.1",
    "sqlalchemy>=2.0.0",
    "pytest>=8.0.0",
]
